<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Hyvinvointisovellus</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")


	<!-- CSS viittaukset -->
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/modernizr-2.6.2.js"></script>
	<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
	<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

</head>

<body>

	@*Yläpalkki valikko alkaa*@
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			@if (Session["Admin"] != null)
			{
				<a class="navbar-brand" href="~/Home/IndexTyonantaja">Hyvinvointisovellus</a>
			}
			else
			{
				<a class="navbar-brand" href="~/Home/IndexTyontekija">Hyvinvointisovellus</a>
			}

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor02">
				<ul class="navbar-nav me-auto">
					@*<li class="nav-item">
							<a class="nav-link active" href="#">Home<span class="visually-hidden">(current)</span>
							</a>
						</li>*@
					@if (Session["Admin"] != null)
					{
						<li class="nav-item">
							<a class="nav-link" href="~/Home/OmattiedotTyonantaja">Omat tiedot</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="~/Tyontekijat/Index">Työntekijät</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="~/Home/Logout">Kirjaudu ulos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="~/Palaute/Index">Palautteet</a>
						</li>
					}
					else if (Session["UserName"] == null)
					{

					}
					else
					{
						<li class="nav-item">
							<a class="nav-link" href="~/Event/Index">Fiilikset</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="~/Palaute/Index">Palautteet</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="~/Home/OmattiedotTyontekija">Omat tiedot</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="~/Home/Logout">Kirjaudu ulos</a>
						</li>
					}

					@*<li class="nav-item">
							<a class="nav-link" href="~/Home/About">About</a>
						</li>*@
					<!--<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
					@*DROPDOWN ALKAA TÄSTÄ*@
					<!--<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div>-->
					@*DROPDOWN PÄÄTTYY*@
					<!--</li>-->
				</ul>
			</div>
		</div>
		<span class="badge badge-dark">@ViewBag.LoggedStatus</span>
	</nav> @*Yläpalkki valikko päättyy*@


	@*Aiempi (alkuperäinen) valikkosysteemi:*@
	<!--<-->@*div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>@Html.ActionLink("Home", "Index", "Home")</li>
						<li>@Html.ActionLink("About", "About", "Home")</li>
						<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
						<li>@Html.ActionLink("Kirjautuminen", "Kirjautuminen","Home")</li>
					</ul>
				</div>
			</div>
		</div>*@

	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Hyvinvointisovellus</p>
		</footer>
	</div>
	@*<script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
		<script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>*@

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrapCosmo") @*= Bootsrapin nimi (https://bootswatch.com/cosmo/)*@

	<!-- Moment js-->
	<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

	<!-- qTip js -->
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>

	<!-- Full Calendar js -->
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.js"></script>

	<!-- DateTime picker js -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
	
	<!-- Collapse - Accordion -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	@Scripts.Render("~/bundles/Script-calendar")

	@RenderSection("scripts", required: false)
</body>
</html>
