@model Hyvinvointisovellus.Hymynaama

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hymynaama</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hymynaama1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hymynaama1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tyontekijat.Sukunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tyontekijat.Sukunimi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HymynaamaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
