@model IEnumerable<Hyvinvointisovellus.Models.Kayttajat>

@{
	ViewBag.Title = "OmattiedotTyontekija";
}
<div class="jumbotron">
	<h1>Omat tiedot</h1>

	<p class="lead">
		Tämä sivu on vielä kehitystyön alla mutta täällä pääset jatkossa tarkastelemaan tai muokkaamaan omia tietojasi,
		katsomaan antamiasi palautteita sekä näkemään aiemmat fiiliskirjauksesi kalenterista.
	</p>
	@*<p><a href="~/Home/Palautteet" class="btn btn-primary btn-lg">Lue palautteita  &raquo;</a></p>*@ @*<-- jumbotronin button, tarvitaanko?*@
</div>


<p></p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.KayttajaID)</th>
        <th>@Html.DisplayNameFor(model => model.Etunimi)</th>
        <th>@Html.DisplayNameFor(model => model.Sukunimi)</th>
        <th>@Html.DisplayNameFor(model => model.Osoite)</th>
        <th>@Html.DisplayNameFor(model => model.Postinumero)</th>
        <th>@Html.DisplayNameFor(model => model.Postitoimipaikat.Postitoimipaikka)</th>
        <th>Käyttäjätunnus</th>
        <th>Salasana</th>



        @*<th>@Html.DisplayNameFor(model => model.Start)</th>
        <th>@Html.DisplayNameFor(model => model.End)</th>
        <th>@Html.DisplayNameFor(model => model.IsFullDay)</th>*@
    </tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>@Html.DisplayFor(modelItem => item.KayttajaID)</td>
			<td>@Html.DisplayFor(modelItem => item.Etunimi)</td>
			<td>@Html.DisplayFor(modelItem => item.Sukunimi)</td>
			<td>@Html.DisplayFor(modelItem => item.Osoite)</td>
			<td>@Html.DisplayFor(modelItem => item.Postinumero)</td>
			<td>@Html.DisplayFor(modelItem => item.Postitoimipaikat.Postitoimipaikka)</td>
			<td>@Session["UserName"]</td>
			<td>@Session["PassWord"]</td>





			@*<td>@Html.DisplayFor(modelItem => item.Start)</td>
				<td>@Html.DisplayFor(modelItem => item.End)</td>
				<td>@Html.DisplayFor(modelItem => item.IsFullDay)</td>*@

			<td align="right">
				@Html.ActionLink("Muokkaa", "Muokkaa", new { id = item.KayttajaID }, new { @class = "btn btn-outline-primary" })
			</td>
		</tr>
	}
</table>
<div>
	<a class="btn btn-outline-dark" href="/Home/IndexTyontekija">Takaisin etusivulle</a>
</div>
