@model Hyvinvointisovellus.Models.Palaute

@{
    ViewBag.Title = "Details";
}
<div class="jumbotron">
	<h1>Palautteet</h1>
	<p class="lead">
		Tietoja palautteista.
	</p>
	@*<p><a href="~/Home/Palautteet" class="btn btn-primary btn-lg">Lue palautteita  &raquo;</a></p>*@ @*<-- jumbotronin button, tarvitaanko?*@
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Palaute1)
        </dt>*@

        <dd>
            @Html.DisplayFor(model => model.Palaute1, "Palaute")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tyontekijat.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tyontekijat.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tyontekijat.Sukunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tyontekijat.Sukunimi)
        </dd>

    </dl>
</div>
<p>
	@Html.ActionLink("Muokkaa", "Edit", new { id = Model.PalauteID }, new { @class = "btn btn-info" })
	<a class="btn btn-secondary" href="/Palaute">Takaisin</a>
</p>
