@model Hyvinvointisovellus.Models.Palaute

@{
    ViewBag.Title = "Edit";
}
<p></p>
<div class="jumbotron">
	<h1>Palautteet</h1>
	<p class="lead">
		Muokkaa palautteita.
	</p>
	@*<p><a href="~/Home/Palautteet" class="btn btn-primary btn-lg">Lue palautteita  &raquo;</a></p>*@ @*<-- jumbotronin button, tarvitaanko?*@
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PalauteID)

        <div class="form-group">
            @Html.LabelFor(model => model.TyontekijaID, "Nimi", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("TyontekijaID", null, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.TyontekijaID, "", new { @class = "text-danger" })
			</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Palaute1, "Palaute", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Palaute1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Palaute1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tallenna" class="btn btn-info" onclick="meth_alert();" />
                <a class="btn btn-secondary" href="/Palaute">Takaisin</a>
            </div>

            <script type="text/javascript">
                meth_alert = function () {
                    alert("Tiedot tallennettu onnistuneesti!");
                };
            </script>

        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
