@model IEnumerable<Hyvinvointisovellus.Palaute>

@{
    ViewBag.Title = "Index";
}
<p></p>
<h2>Palautteet</h2>
<p></p>

<div>
	<a class="btn btn-info" href="/Palaute/Create">Lisää uusi palaute</a>
</div>

<p></p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Palaute1)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Tyontekijat.Etunimi)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Tyontekijat.Sukunimi)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
<tr>
	<td>
		@Html.DisplayFor(modelItem => item.Palaute1)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.Tyontekijat.Etunimi)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.Tyontekijat.Sukunimi)
	</td>
	<td>
		@Html.ActionLink("Muokkaa", "Edit", new { id = item.PalauteID }, new { @class = "btn btn-outline-primary" })
		@Html.ActionLink("Tietoja", "Details", new { id = item.PalauteID }, new { @class = "btn btn-outline-primary" })
		@Html.ActionLink("Poista", "Delete", new { id = item.PalauteID }, new { @class = "btn btn-outline-primary" })
	</td>
</tr>
}

</table>
