@model IEnumerable<Hyvinvointisovellus.Models.Palaute>
@*jos halutaan käyttää fas -ikoneita alla viittaus*@

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

@{
	ViewBag.Title = "Index";
}

@section scripts {
	<script type="text/javascript">
        $(function () {
            $(".naytaPalaute").click(function () {
                let palauteId = $(this).data("palauteid");

            });
        });

        /* Tooltip scripti*/
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        @* JQuery joka suoritetaan kun klikataan creNewPalaute - luokan mukaista elementtiä, lisäys *@
        $(function () {
            $(".creNewPalaute").click(function () {
                let palauteId = $(this).data("palauteid");
                console.log("Klikkasit uuden palautteen luontipainiketta: " + palauteId);
                var url = "/Palaute/_ModalCreate/?id=";
                console.log(url);

                $("#palauteCreate").append(" <b> Avataan palautteen luonti-ikkuna...</b>");

                var $palauteDivCreate = $("#palauteCreate");
                $.get(url, function (data) {
                    $palauteDivCreate.replaceWith(data);
                    $("#ModalPalauteCreate").modal("show");
                });
            });
		});



	</script>
}

<div class="jumbotron">
	<h1>Palautteet</h1>
	@if (Session["Admin"] != null)
	{
		<p class="lead"> Täällä näet työntekijöidesi antamat palautteet ja voit kommentoida niitä.</p>
	}
	else
	{
		<p class="lead">
			Täällä näet antamasi palautteet ja voit myös lisätä uusia, sekä kommentoida jo antamiasi palautteita. Samalla näet myös työnantajasi kommentit jo annettuihin palautteisiin.
		</p>
	}
	@*<p><a href="~/Home/Palautteet" class="btn btn-primary btn-lg">Lue palautteita  &raquo;</a></p>*@ @*<-- jumbotronin button, tarvitaanko?*@
</div>
<p></p>
<p></p>
<br />

<div>
	@if (Session["Admin"] == null)
	{

		//Tooltip lisätty linkki buttoniin
		@*<a class="btn btn-info" href="/Palaute/Create" data-toggle="tooltip" data-placement="right" title="Lisää uusia palautteita">Lisää uusi palaute</a>*@
		<button class="creNewPalaute btn btn-info" data-toggle="tooltip" data-placement="right" title="Lisää uusia palautteita">
			<i class="fas fa-plus-circle icon-button"></i> Lisää uusi palaute
		</button>
	}
</div>
<br />

<div id="palauteCreate"></div> @*modaalin lisäys-ikkunan paikka*@

<p></p>
<p></p>


<div class="container-fluid">
	<div class="card-header">
		<a class="card-link">
			<form>
				<div class="input-group">
					<input style="max-width: 10%" type="text" class="form-control bg-secondary font-weight-bold px-2 text-light" value="Pvm" disabled>
					<input style="max-width: 20%" type="text" class="form-control bg-secondary font-weight-bold px-2 text-light" value="Palautteen antaja" disabled>
					<input style="max-width: 100%" type="text" class="form-control bg-secondary font-weight-bold px-2 text-light" value="Palaute" disabled>
				</div>
			</form>
		</a>
	</div>
	<div id="accordion">
		@foreach (var palaute in Model)
		{
			<div class="card">
				<div class="card-header">
					<a class="card-link naytaPalaute" data-palauteId="@palaute.PalauteID" data-toggle="collapse" href="#collapse_@palaute.PalauteID">
						<form>
							<div class="input-group">
								<input style="max-width: 10%" type="text" class="form-control col-6" value="@(palaute.Pvm == null ? "" : ((DateTime)palaute.Pvm).ToString("d/M/yyyy"))" disabled>
								<input style="max-width: 20%" type="text" class="form-control col-6" value="@palaute.Kayttajat.Etunimi @palaute.Kayttajat.Sukunimi" disabled>
								<input type="text" class="form-control col-12" value="@palaute.Palaute1" style="text-overflow: ellipsis; max-width:70%" disabled>
							</div>
						</form>
					</a>
				</div>
				<div id="collapse_@palaute.PalauteID" class="collapse" data-parent="#accordion">
					<div class="card-body">
						<h6>Palaute</h6>
						<hr />
						<p>@palaute.Palaute1</p>

						<div class="container" style="padding:50px !important; font-size: 14px">
							<h6>Kommentit</h6>
							<hr />

							@foreach (var kommentti in palaute.Kommentit.OrderBy(item => item.Pvm))
							{
								<div class="row">
									<div class="col-2">@(kommentti.Pvm == null ? "" : ((DateTime)kommentti.Pvm).ToString("d/M/yyyy"))</div>
									<div class="col-3">@kommentti.Kayttajat.Etunimi @kommentti.Kayttajat.Sukunimi</div>
									<div class="col-7">@kommentti.Kommentti</div>
								</div>
								<hr />
							}
							<br />
							@using (Html.BeginForm("Kommentoi", "Palaute", FormMethod.Post))
							{
								<div class="row" style=" align-items: center">
									<textarea class="form-control col-9 " placeholder="Kirjoita kommenttisi tähän..." rows="3" name="Kommentti"></textarea>
									<input type="hidden" name="KommenttiID" value="@palaute.PalauteID">
									<p class="col-1" value="    "> </p>
									<button type="submit" value="Lähetä" class="btn btn-success col-2" style="height: 50px;"><i class="fas fa-share icon-button" onclick="meth_alert();"></i>Lähetä</button>

									<script type="text/javascript">
										meth_alert = function () {
											swal("Kommentti lisätty!");
										};
									</script>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>
<br />
<div>
	<a class="btn btn-info" href="/Home/IndexTyontekija"><i class="fas fa-arrow-circle-left icon-button"></i>Takaisin etusivulle</a>
</div>
<br />
<br />








@*<tr class="naytaPalaute" data-palauteid="@item.PalauteID">
		<td> @Html.DisplayFor(modelItem => item.Palaute1)</td>
		<td>@Html.DisplayFor(modelItem => item.KayttajaID)</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id = item.PalauteID }) |
			@Html.ActionLink("Details", "Details", new { id = item.PalauteID }) |
			@Html.ActionLink("Delete", "Delete", new { id = item.PalauteID })
		</td>
	</tr>*@

