@model IEnumerable<Hyvinvointisovellus.Palaute>

@{
	ViewBag.Title = "Index";
}
<div class="jumbotron">
	<h1>Palautteet</h1>
	<p class="lead">
		Tarkastele palautteita.
	</p>
	@*<p><a href="~/Home/Palautteet" class="btn btn-primary btn-lg">Lue palautteita  &raquo;</a></p>*@ @*<-- jumbotronin button, tarvitaanko?*@
</div>
<p></p>
<p></p>
<div>
	@if (Session["Admin"] == null)
	{
		<a class="btn btn-info" href="/Palaute/Create">Lisää uusi palaute</a>
	}
</div>


	<p></p>
	<table class="table">
		<tr>
			<th>@Html.DisplayNameFor(model => model.Palaute1)</th>
			<th>@Html.DisplayNameFor(model => model.Kayttajat.Etunimi)</th>
			<th>@Html.DisplayNameFor(model => model.Kayttajat.Sukunimi)</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Palaute1)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Kayttajat.Etunimi)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Kayttajat.Sukunimi)
				</td>
				<td align="right">
					@if (Session["Admin"] != null)
					{
						@Html.ActionLink("Tietoja", "Details", new { id = item.PalauteID }, new { @class = "btn btn-outline-primary" })
					}
					else
					{

						@Html.ActionLink("Muokkaa", "Edit", new { id = item.PalauteID }, new { @class = "btn btn-outline-primary" })
						@Html.ActionLink("Tietoja", "Details", new { id = item.PalauteID }, new { @class = "btn btn-outline-primary" })
						@Html.ActionLink("Poista", "Delete", new { id = item.PalauteID }, new { @class = "btn btn-outline-primary" })

					}
				</td>
			</tr>
		}
	</table>
	<div>
		@if (Session["Admin"] != null)
		{
			<a class="btn btn-outline-dark" href="/Home/IndexTyonantaja">Takaisin etusivulle</a>
		}
		else
		{
			<a class="btn btn-outline-dark" href="/Home/IndexTyontekija">Takaisin etusivulle</a>
		}
	</div>
