@model Hyvinvointisovellus.Models.Kayttajat
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


<div class="modal fade" id="ModalTyontekijaDelete">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Työntekijätietojen poistaminen</h4>
            </div>

            <div class="modal-body">
                <h3>Haluatko varmasti poistaa tämän työntekijän?</h3>
				<div>
					<hr />
					<dl class="dl-horizontal">
						<dt>@Html.DisplayNameFor(model => model.Etunimi)</dt>
						<dd>@Html.DisplayFor(model => model.Etunimi)</dd>
						<dt>@Html.DisplayNameFor(model => model.Sukunimi)</dt>
						<dd>@Html.DisplayFor(model => model.Sukunimi)</dd>
					</dl>

					@using (Html.BeginForm())
					{
						@Html.AntiForgeryToken()

						<div class="form-actions no-color">

							<button type="submit" value="Poista" class="btn btn-danger" onclick="meth_alert();">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash icon-button" viewBox="0 0 16 16">
									<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
									<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
								</svg>Poista
							</button>
							<a class="btn btn-secondary" href="/Tyontekijat"><i class="fas fa-times icon-button"></i>Peruuta</a>
						</div>

						<script type="text/javascript">
							meth_alert = function () {

								swal("Työntekijä poistettu listalta!");
							};
						</script>

					}
				</div>
            </div>
        </div>
    </div>
</div>

