@model Hyvinvointisovellus.Tyontekijat

@{
    ViewBag.Title = "Delete";
}
<p></p>
<h2>Poista</h2>

<h3>Haluatko varmasti poistaa tämän työntekijän?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sukunimi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
	<input type="submit" value="Poista" class="btn btn-danger" />
	<a class="btn btn-secondary" href="/Tyontekijat">Takaisin</a>

</div>
    }
</div>